@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background-color: #e9f1f3;
  --button-color: #f6f7e7;
  --shadow: rgba(0, 0, 0, 0.4) -4px 4px 4px;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-quicksand);
  font-weight: 600;
}

button, .button {
  background-color: var(--button-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-weight: 600;
}

.element {
  border-radius: 10px;
  box-shadow: var(--shadow);
}

/* Mobiilioptimoidut komponentit */
.mobile-title {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

/* Grid gallery */
.grid-gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 580px;
  margin-top: 1rem;
}

.grid-gallery-item {
  display: flex;
  justify-content: center;
}

.grid-gallery-image-container {
  width: 140px;
  height: 140px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 4px 4px;
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .grid-gallery-image-container {
    width: 170px;
    height: 170px;
  }
  .grid-gallery-container {
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .grid-gallery-container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 72rem;
  }
  .grid-gallery-image-container {
    width: 180px;
    height: 180px;
  }
}